<div class="footer-wrapper">
    <footer class="footer">
        <div class="footer" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" style="text-align:center ; ">
            <a style="padding-right: 25px;"><img [src]="baseUrl+'Phone.png'" >  0212 505 38 38</a>
            <a style="padding-right: 25px;"><img [src]="baseUrl+'Location.png'"><i> Kayseri/Talas/Mevlana Mahallesi </i></a>
            <a style="padding-right: 25px;">Bizimle sosyal medya hesaplarımızdan iletişim kurabilirsiniz. </a>
            <a style="padding-right: 25px;"><img [src]="baseUrl+'Instagram.png'"><i>Rent A Car</i></a>
            <a ><img [src]="baseUrl+'Twitter.png'"><i>Rent A Car</i></a>
        </div>
    </footer>
</div>

